.small-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 5rem;
  /* border-top: 1px solid var(--outline-color); */
  background-color: var(--secundary-color);
}

.small-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  height: 4rem;
  border-radius: 15px;
  gap: 0;
}

.small-tag-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  border-radius: 2rem;
  color: var(--gray);
  transition: all 0.5s;
}

.small-tag-icon-selected {
  color: var(--primary-color);
  background-color: var(--hover-color);

  animation-name: icon;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.small-tag-label {
  font-size: 12;
  color: var(--gray);
}

.small-tag-label-selected {
  font-weight: 600;
  color: var(--primary-color);
}

@media screen and (max-width: 599px) {
  .small-nav {
    height: 4rem;
    font-size: 12px;
  }
}

@keyframes icon {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.1);
  }
}
