.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid var(--outline-color); */
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--secundary-color);
}

.card:hover {
  /* box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; */
  /* transform: scale(1.03); */
}

.card-img-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
}

.card-title {
  font-weight: var(--font-weight);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-subtext {
  color: var(--font-color-secundary);
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

/*xs*/
@media screen and (max-width: 599px) {
  .card {
    border-radius: var(--xs-border-radius);
  }

  .card-img-container {
    border-radius: var(--xs-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-img {
    border-radius: var(--xs-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-content {
    padding: 6px 15px 10px 15px;
  }

  .card-subtext {
    font-size: 12px;
  }

  .card-info {
    gap: 2px;
  }
}

/*sm*/
@media screen and (min-width: 600px) and (max-width: 899px) {
}

/*md*/
@media screen and (min-width: 900px) and (max-width: 1199px) {
}

/*lg*/
@media screen and (min-width: 1200px) and (max-width: 1535px) {
}

/*xl*/
@media screen and (min-width: 1536px) {
}
