.course-card-layout {
  padding: var(--padding-section);
  background-color: black;
}
.slidercard-layout {
  padding: var(--padding-section);
}

.layout {
  background-color: var(--base-color);
}

.course-card-layout,
.slidercard-layout {
  margin-bottom: 1rem;
}

.section-body {
  display: flex;
  width: 100%;
}
