.swiper {
  padding: var(--padding) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: black;
}

.slider {
  width: 100%;
}

.swiper-slide {
  width: fit-content !important;
  height: fit-content !important;
}

/* .swiper-button-prev,
.swiper-button-next {
  max-width: 30px !important;
  max-height: 30px !important;
  background-color: green;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  max-width: 30px !important;
  max-height: 30px !important;
  background-color: green;
} */

/* .swiper-button-prev {
  margin-right: 100%;
}

.swiper-button-next {
  margin-right: 0px;
} */
